# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Python Virtual Environments
venv/
.venv/
env/
.env/
ENV/
env.bak/
.env.bak/

# Ambiente local do Vite/Node
# (Boa prática ter, mesmo que não use agora)
node_modules/
dist/
dist-ssr/
*.local

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de Log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Arquivos de configuração de editores
.vscode/*
!.vscode/extensions.json
.idea/